# kicad locking

*.sch -text lockable
*.kicad_pcb -text lockable
*fp-info-cache -text lockable
*fp-lib-table -text lockable
*sym-lib-table -text lockable
*.dcm -text lockable
*.kicad_wks -text lockable
*.kicad_mod -text lockable
*.pro -text lockable
*.lib -text lockable

*.wrl lockable filter=lfs diff=lfs merge=lfs -text
*.step filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs

*.ttf 

# freecad locking

*.FCStd lockable filter=lfs diff=lfs

# OpenPnP
openpnp/machine.xml -text lockable
openpnp/packages.xml -text lockable
openpnp/parts.xml -text lockable
